
body{
    cursor: url(https://fontawesome.com/icons/arrow-pointer?s=duotone&f=classic);
}
.padding {
    padding: 0.5rem;
}


.social-icons {
    font-size: 2rem;
    color: white;
    margin: 30px;
    padding-bottom: 4rem;
}

.linear-background {
    background-color: #17182f;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite reverse;
    height: 100vh;
  
}


canvas {
    display: block;
   
  }
  
  
  #particles-js {
    position:fixed;
    width: 100%;
    height:100%;
    z-index: -1;
  }

.head-text {
    animation: colorChange 10s infinite ease-in-out reverse;
}

@keyframes colorChange {
    0% {
        color: rgb(174, 253, 209);
    }

    25% {
        color: rgb(63, 231, 161);
    }

    50% {
        color: rgb(228, 192, 134);
    }

    75% {
        color: rgb(41, 192, 212);
    }

    95% {
        color: rgba(212, 169, 252, 0.956);
    }
}

.indent {
    text-indent: 40px;
    line-height: 3rem;
}
.project-des{
    position:absolute;
    background-color:rgba(111, 4, 4, 0.485);
    bottom: 0%;
    left: 0;
    padding:20px ;
    font-size: 20px;
    text-decoration: none;
    width: 100%;
    
}

.project-con{
    display: flex;
  flex-wrap: wrap;
}

@media  (min-width: 350px) and (max-width:950px) {
    .project-con{
        justify-content: center;
        margin: 0 auto;
       align-self: center;
    }
    .project-con img{
        width: 200%;
        height: 300%;
    }
    .project-item{
        width: 100% !important;
       
        
    }
 
    .pro-attr{
        display: flex;
        padding: 4px;
        font-size: 2vw !important;
        margin-left: 10%;
        
    }

    .project-des{
        text-align: left;
        display: flex;
        padding:5px ;
        font-size: 4vw; 
        text-decoration: none;
        width: 100%;
        height: 40%;
        
    }
    .display{
        display: block !important;
    }
    .display img{
       width: 100% !important;
    }
    
}


.pro-attr{
    display: flex;
    padding: 2px;
    font-size: 15px;
    color: red;
}
.pro-attr li{
    margin-left: 30px;
    list-style: none;
}

.project-item{
    width: 45%;
    overflow: hidden;
    position: relative;
    margin: 20px;
    
}



.w3-hover-grayscale :hover img
{
    scale: 120%;
   
}

.display{
    display: flex;
    background-color: #17182fa1;
    padding: 30px;
    justify-content: space-evenly;
}
.date-time{
 color: skyblue 
}
.side {
    background-color: rgba(165, 42, 42, 0.512) !important;
}